<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>NINJAS</h1>
    <p>Facts about ninjas:</p>
    <ul>
        <li>They are people, too</li>
        <li>You can see them if you know where to look</li>
        <li>I like turtles</li>
        <li>Ninja life is super real and should be taken seriously</li>
    </ul>
    <p>Thank you for taking the time to learn more about ninjas today. I hope you walked away from this a smarter person</p>
</body>

</html>